.dropdown-menu {
  max-height: 200px;
  overflow-y: scroll;
}

.input-group > .form-control {
  min-height: calc(3.08rem + 2px);
}

.btn-outline-secondary {
  color: black !important;
  border-color: #ffffff !important;
  background-color: #ffffff82 !important;
}

.btn-outline-secondary:hover {
  color: white !important;
  background-color: #a488e178 !important;
  border-color: #6c757d !important;
}

.dropdown-menu {
  background-color: #ffffffb8 !important;
}

.form-control {
  background-color: #ffffffb8 !important;
}

.input-group-text {
  background-color: white !important;
}
